
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;1,300&display=swap');

$font-family-base: 'Work Sans', sans-serif;

$font-weight-base: 500;
$font-size-base: 1.5rem;
$grid-gutter-width: 70px;

$line-height-base: 1;
@import "~bootstrap";