
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap');
$font-family-base: 'Work Sans', sans-serif;

$font-weight-base: 300;
$font-weight-bold: 600;
$font-size-base: 1.5rem;

$link-color: #212529;
$grid-gutter-width: 30px;

$line-height-base: 1;

@import "~bootstrap";
.project-gallery > div:not(.w-100) {
  padding-top: $grid-gutter-width ;
}