
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap');
$font-family-base: 'Work Sans', sans-serif;

$font-weight-base: 300;
$font-weight-bold: 600;
$font-size-base: 1.5rem;

$link-color: #212529;
$grid-gutter-width: 30px;

$line-height-base: 1;



@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
//@import "~bootstrap/scss/tables";
//@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
//@import "~bootstrap/scss/dropdown";
//@import "~bootstrap/scss/button-group";
//@import "~bootstrap/scss/input-group";
//@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
//@import "~bootstrap/scss/card";
//@import "~bootstrap/scss/breadcrumb";
//@import "~bootstrap/scss/pagination";
//@import "~bootstrap/scss/badge";
//@import "~bootstrap/scss/jumbotron";
//@import "~bootstrap/scss/alert";
//@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
//@import "~bootstrap/scss/list-group";
//@import "~bootstrap/scss/close";
//@import "~bootstrap/scss/toasts";
//@import "~bootstrap/scss/modal";
//@import "~bootstrap/scss/tooltip";
//@import "~bootstrap/scss/popover";
//@import "~bootstrap/scss/carousel";
//@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";

.project-gallery > div:not(.w-100) {
  padding-top: $grid-gutter-width ;
}

.projects-list {
   li> a {

     transition: padding-left 500ms;
     &:hover {
       text-decoration: none;
       padding-left: $spacer/2;
     }
   }
}

#fc-pics-container {
  width: 100%;
  padding-top: 152%;
  position: relative;
  & > * {
    position: absolute;
  }
}

#fc1 {
  @extend .col-8;
  left: 0;
  top: 0;
}

#fc2 {
  @extend .col-4;
  right: 0;
  top: 0;
}

#fc3 {
  @extend .col-7;
  left: 15%;
  top: calc(27.5% + #{$grid-gutter-width});
  z-index: -1;
}
#fc4 {
  width: 72%;
  z-index: -1;
}
#fc5 {
  top: 0;
  left: 72%;
  width: 100%;
  padding: $grid-gutter-width;
  display: inline-block;
  position: absolute;
  z-index: -1;
}